@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Employee Managment System</h1>
    <p>Learn about <a href="https://github.com/shubhamgaur2210">The code build in ADO.Net</a>.</p>
</div>
